.App {
  
  text-decoration-color: blueviolet;
  text-align: center;
}
.completed {background-color: coral
  }
.App-header {
  background-color: #da8d8d;
  height: 70px;
  padding: 20px;
  color: white;
}
h2 {
  color: blue;
}

.App-title {
  color:blue;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
